In [1]:
import rpy2

In [2]:
print(rpy2.__version__)

2.9.4

In [3]:
import rpy2.robjects as robjects

In [4]:
from rpy2.robjects.packages import importr

In [5]:
from rpy2.robjects import r

In [6]:
base = importr('base')

In [7]:
utils = importr('utils')

utils.chooseCRANmirror?

utils?

In [8]:
packnames = ('ggplot2', 'hexbin')

In [9]:
packnames

('ggplot2', 'hexbin')

In [10]:
from rpy2.robjects.vectors import StrVector

In [11]:
pi = robjects.r['pi']

In [12]:
pi[0]

3.141592653589793

In [13]:
letters = robjects.r['letters']

In [14]:
letters

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7f3b8ae45388 / R:0x7f3bc7aa9ab0>
['a', 'b', 'c', 'd', ..., 'w', 'x', 'y', 'z']

In [15]:
letters.r_repr()

'c("a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", \n"m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", \n"z")'

In [16]:
rcode = 'paste(%s, collapse="-")' %(letters.r_repr())

In [17]:
rcode

'paste(c("a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", \n"m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", \n"z"), collapse="-")'

In [18]:
res = robjects.r(rcode)

In [19]:
res

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7f3b8ae28408 / R:0x7f3bc79b5af0>
['a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-...]

In [20]:
print(res)

[1] "a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z"

In [21]:
r('x <- rnorm(100)')

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3ba8505188 / R:0x7f3bc81027e0>
[0.310956, 0.796161, 0.567538, -0.733277, ..., 0.170784, 0.159262, -0.839008, 1.637349]

In [22]:
r('y <- x + rnorm(100,sd=0.5)')

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b8ae453c8 / R:0x7f3bc9e1cde0>
[0.109410, 1.039303, 0.332754, -0.932307, ..., 0.467096, 0.527489, -1.424632, 1.609654]

In [23]:
r('plot(x,y)')

rpy2.rinterface.NULL

In [24]:
r('lmout <- lm(y~x)')

R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b8ac63b88 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]
  coefficients: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b8acbb5c8 / R:0x7f3bc71d1078>
[-0.004976, 1.063701]
  residuals: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b8acb2448 / R:0x7f3bc80700c0>
[-0.216378, 0.197402, -0.265961, -0.147343, ..., 0.290409, 0.363057, -0.527201, -0.127021]
  effects: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b8ae28a08 / R:0x7f3bc70c5440>
[-0.218029, -10.344990, -0.256996, -0.111409, ..., 0.307600, 0.380487, -0.489076, -0.140235]
  rank: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7f3b8ae28808 / R:0x7f3bca109348>
[2]
...
R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b8ac63b88 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]
  qr: <class 'rpy2.robjects.vectors.Vector'>
  R object with classes: ('lm',) mapped to:
<Vector - Python:0x7f3b8ac70848 / R:0x7f3bc80f8f08>
[RObject, Vector]
  df.residual: <class 'rpy2.robjects.Formula'>
  R object with classes: ('terms', 'formula') mapped to:
<Formula - Python:0x7f3b8ac78d88 / R:0x7f3bc86d26e8>
R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b8ac63b88 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]

In [25]:
r('print(lmout)')

Call:


lm(formula = y ~ x)




Coefficients:

(Intercept)
          x


  -0,004976
   1,063701

R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b8ae45348 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]
  coefficients: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b8acd6208 / R:0x7f3bc71d1078>
[-0.004976, 1.063701]
  residuals: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b8acd2208 / R:0x7f3bc80700c0>
[-0.216378, 0.197402, -0.265961, -0.147343, ..., 0.290409, 0.363057, -0.527201, -0.127021]
  effects: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b8acd2708 / R:0x7f3bc70c5440>
[-0.218029, -10.344990, -0.256996, -0.111409, ..., 0.307600, 0.380487, -0.489076, -0.140235]
  rank: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7f3b8acd28c8 / R:0x7f3bca109348>
[2]
...
R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b8ae45348 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]
  qr: <class 'rpy2.robjects.vectors.Vector'>
  R object with classes: ('lm',) mapped to:
<Vector - Python:0x7f3ba8474f88 / R:0x7f3bc80f8f08>
[RObject, Vector]
  df.residual: <class 'rpy2.robjects.Formula'>
  R object with classes: ('terms', 'formula') mapped to:
<Formula - Python:0x7f3b8ac63808 / R:0x7f3bc86d26e8>
R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b8ae45348 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]

loclmout_new = dict(zip(loclmout.names, list(loclmout)))

loclmout_new

loclmout_new_1 = dict(zip(loclmout.names, map(list,list(loclmout))))

print(loclmout_new['coefficients'])

a = loclmout_new['terms']

a

b = r('list(lmout)')

In [34]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

In [40]:
df_practice = pandas2ri.ri2py(loclmout)

In [61]:
a_new = df_practice

In [62]:
a_new

R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b75e82d88 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]
  coefficients: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b75e16e48 / R:0x7f3bc71d1078>
[-0.004976, 1.063701]
  residuals: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b75e16e08 / R:0x7f3bc80700c0>
[-0.216378, 0.197402, -0.265961, -0.147343, ..., 0.290409, 0.363057, -0.527201, -0.127021]
  effects: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f3b75e16608 / R:0x7f3bc70c5440>
[-0.218029, -10.344990, -0.256996, -0.111409, ..., 0.307600, 0.380487, -0.489076, -0.140235]
  rank: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7f3b75e167c8 / R:0x7f3bca109348>
[2]
...
R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b75e82d88 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]
  qr: <class 'rpy2.robjects.vectors.Vector'>
  R object with classes: ('lm',) mapped to:
<Vector - Python:0x7f3b75e1d748 / R:0x7f3bc80f8f08>
[RObject, Vector]
  df.residual: <class 'rpy2.robjects.Formula'>
  R object with classes: ('terms', 'formula') mapped to:
<Formula - Python:0x7f3b75e1d648 / R:0x7f3bc86d26e8>
R object with classes: ('lm',) mapped to:
<ListVector - Python:0x7f3b75e82d88 / R:0x7f3bc99993b8>
[FloatVector, FloatVector, FloatVector, IntVector, ..., ListVector, Vector, Formula, DataFrame]

In [53]:
r.readRDS(file = "my_data.rds")

R object with classes: ('matrix',) mapped to:
<Matrix - Python:0x7f3b75e82ec8 / R:0x7f3bc91943f0>
[-0.167954, -0.693627, -0.618724, -0.053058, ..., -0.364836, 0.856565, -0.874603, -0.260957]

In [56]:
a = r.readRDS(file = "my_data.rds")

In [59]:
df_practice1 =  pandas2ri.ri2py(a)

In [58]:
df_practice1

array([[-0.16795377, -0.20301654],
       [-0.69362664, -1.02417865],
       [-0.61872435, -0.44152302],
       [-0.05305754,  0.3678265 ],
       [ 1.39950858,  1.09576165],
       [-0.35638574, -0.23883983],
       [ 0.02849866, -0.0881694 ],
       [ 0.57240281,  0.7912991 ],
       [-0.44756224,  0.35851092],
       [ 0.21712598,  0.50468043],
       [-0.34330818, -0.4478732 ],
       [ 1.38432579,  1.11478488],
       [-0.73309748, -0.40871791],
       [-0.40385535, -0.07744779],
       [-0.27167031, -0.97214757],
       [-0.41653096, -0.12119591],
       [ 1.82230764,  2.40838145],
       [-0.10311657, -0.26265698],
       [ 0.0116972 , -0.15725446],
       [ 0.20671809, -0.80604921],
       [-0.37093225,  0.02525205],
       [-0.63719457, -0.63733242],
       [ 1.11886815,  0.53835328],
       [-0.35774306,  0.22576368],
       [ 0.17061152,  0.14702553],
       [-1.12499866, -1.17231232],
       [ 1.49087146,  1.39607785],
       [-0.44529132, -0.50722584],
       [ 0.60517521,  1.15955535],
       [-0.31179187, -0.86857117],
       [ 0.32678214,  0.17459574],
       [ 1.54573355,  2.19704481],
       [ 0.15556465, -0.0673341 ],
       [-1.89902746, -2.38766856],
       [ 1.36121942,  1.59212395],
       [-1.08667565, -0.7667489 ],
       [ 0.36462635,  0.44693107],
       [-0.6006245 , -0.96732608],
       [ 0.35423819, -0.19314464],
       [ 0.44888677,  0.81067894],
       [-1.03214241, -1.51697063],
       [-0.55443977, -0.19250812],
       [-1.02069361, -0.22608105],
       [-0.6615086 , -1.10127786],
       [ 0.11906821,  1.65015985],
       [ 0.64288686,  0.3250328 ],
       [-0.20866348,  0.46565228],
       [-0.97900269, -0.7199844 ],
       [ 0.90555965,  0.7438253 ],
       [-1.19633798, -1.3874247 ],
       [-1.15602513, -0.21012273],
       [-0.5130111 ,  0.19853228],
       [-0.23890174, -0.0647337 ],
       [ 0.14492029,  1.05884818],
       [-2.9508871 , -2.73038033],
       [ 1.24399102,  1.78952904],
       [ 1.30284182,  1.70971877],
       [-1.20991981, -0.97307448],
       [-0.21074327, -1.67534608],
       [-0.09828215, -1.21012703],
       [-0.31349176, -0.96547135],
       [ 1.67957111,  1.07998209],
       [ 1.27979484,  1.23072676],
       [-0.20131876, -0.12754554],
       [ 0.33489031,  1.12714664],
       [ 3.08418571,  2.98359762],
       [ 0.46816788,  1.44176739],
       [-0.03379266,  0.14799216],
       [-0.49920144, -1.00907483],
       [-1.30610044, -1.4220296 ],
       [-0.36099942, -0.44059742],
       [ 1.26594856,  1.03639688],
       [ 0.88928924,  0.28878374],
       [-0.17880328, -0.05860398],
       [-0.27652413, -0.81354534],
       [ 1.39863943,  2.41550982],
       [-0.44839857, -0.98968931],
       [ 1.65113352,  2.10631032],
       [ 0.09389837, -0.11463421],
       [ 2.13781868,  1.61223932],
       [ 0.73437717,  0.75447246],
       [-0.64212796, -0.11796656],
       [-1.03114904, -0.87803716],
       [-0.36440319,  0.06308896],
       [-1.00697398, -0.40935911],
       [ 0.13115907,  0.52785171],
       [ 0.80437106,  0.43357816],
       [ 0.72385553,  1.33621138],
       [-0.67605528, -0.56478209],
       [ 1.17672337,  0.58523498],
       [ 1.50773918,  2.21186961],
       [-0.48077688,  0.28861773],
       [-0.51305954, -0.39630451],
       [-0.78453131, -0.4459194 ],
       [-0.28081687, -0.66621029],
       [ 0.48317503, -0.56667282],
       [-0.77301536, -0.36483592],
       [ 0.45793721,  0.85656515],
       [-1.69318881, -0.87460281],
       [-1.08767047, -0.26095696]])

In [73]:
import numpy as np

In [88]:
import pandas as pd

In [90]:
new = pd.DataFrame(df_practice1)

In [93]:
new.rename(columns={0:'X',1:'Y'}, inplace=True)

In [94]:
new

           X         Y
0  -0.167954 -0.203017
1  -0.693627 -1.024179
2  -0.618724 -0.441523
3  -0.053058  0.367827
4   1.399509  1.095762
5  -0.356386 -0.238840
6   0.028499 -0.088169
7   0.572403  0.791299
8  -0.447562  0.358511
9   0.217126  0.504680
10 -0.343308 -0.447873
11  1.384326  1.114785
12 -0.733097 -0.408718
13 -0.403855 -0.077448
14 -0.271670 -0.972148
15 -0.416531 -0.121196
16  1.822308  2.408381
17 -0.103117 -0.262657
18  0.011697 -0.157254
19  0.206718 -0.806049
20 -0.370932  0.025252
21 -0.637195 -0.637332
22  1.118868  0.538353
23 -0.357743  0.225764
24  0.170612  0.147026
25 -1.124999 -1.172312
26  1.490871  1.396078
27 -0.445291 -0.507226
28  0.605175  1.159555
29 -0.311792 -0.868571
..       ...       ...
70 -0.360999 -0.440597
71  1.265949  1.036397
72  0.889289  0.288784
73 -0.178803 -0.058604
74 -0.276524 -0.813545
75  1.398639  2.415510
76 -0.448399 -0.989689
77  1.651134  2.106310
78  0.093898 -0.114634
79  2.137819  1.612239
80  0.734377  0.754472
81 -0.642128 -0.117967
82 -1.031149 -0.878037
83 -0.364403  0.063089
84 -1.006974 -0.409359
85  0.131159  0.527852
86  0.804371  0.433578
87  0.723856  1.336211
88 -0.676055 -0.564782
89  1.176723  0.585235
90  1.507739  2.211870
91 -0.480777  0.288618
92 -0.513060 -0.396305
93 -0.784531 -0.445919
94 -0.280817 -0.666210
95  0.483175 -0.566673
96 -0.773015 -0.364836
97  0.457937  0.856565
98 -1.693189 -0.874603
99 -1.087670 -0.260957

[100 rows x 2 columns]